In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import json
import datetime

In [2]:
link='https://eco.olyams.com/covidma'
request_data = requests.get(link)
soup = BeautifulSoup(request_data.text,features="lxml")
#data_all=get_data(soup)

In [3]:
table= json.loads(soup.text)

In [5]:
row_data=table['data']
column=[]
for col in row_data.keys():
    column.append(col)
column

['labels', 'confirmed', 'healing', 'depistages', 'deaths']

In [6]:
date=pd.to_datetime(row_data[column[0]])
NewCase=pd.to_numeric(row_data[column[1]])
Newrecovr=pd.to_numeric(row_data[column[2]])
Newtest=pd.to_numeric(row_data[column[3]])
Newdeath=pd.to_numeric(row_data[column[4]])

In [7]:
data=pd.DataFrame(index=date,columns=["NewCase","Newrecov","Newtest","Newdeath"],dtype=float)

In [8]:
data['NewCase']=NewCase
data["Newrecov"]=Newrecovr
data["Newtest"]=Newtest
data["Newdeath"]=Newdeath

In [9]:
data.tail()

            NewCase  Newrecov  Newtest  Newdeath
2021-09-25     1444      1818    18755        30
2021-09-26      734      1720    14601        35
2021-09-27      394      2248     7330        32
2021-09-28     1192      1558    19208        26
2021-09-29     1082      1774    18079        23

In [10]:
data.to_excel(r'C:/Users/pc/Downloads/National level.xlsx')